---
layout: default
---

{% include slider.html %}

<section class="schwimmbad section schwimmbad-trigger"  id="schwimmbad-anchor">
  <div class="section-header" id="animation">
    <div class="header-dash"></div>
    <h1>Das Schwimmbad</h1>
  </div>
  <div class="section-content">
    <div class="half fade-left">
      <div class="section-text">
          <p>Die Beckengröße beträgt 7 x 15 Meter bei einer Wassertiefe von 1,35 Meter. Das entspricht einer Wasseroberfläche von 105qm. Die ständige Wassertemperatur beträgt ca. 30 Grad Celsius. Die ständige Raumtemperatur beträgt ca. 32 Grad Celsius in der Halle des Bades. <br> <br> Die benötigte Wärme und Energie wird mit einem energieeffizientem gasbetriebenen Blockheizkraftwerk erzeugt. Die Beleuchtung des Edelstahlbeckens , der Halle und sämtlicher Räume erfolgt mit energiesparender LED-Technik. Damit lassen sich besondere Farbeffekte erzeugen, die den Aufenthalt im Bad zu einem besonderen Erlebnis werden lassen. Zusätzlich kann von den Kurstrainern die moderne Beschallungstechnik genutzt werden.</p>
      </div>
    </div>
    <div class="half fade-right overlay-container" id="BadGallery">
      <div class="section-img" style="background-image: url({{ site.baseurl }}/assets/img/home/home_bad2.jpg);"></div>
      <div class="overlay">
        <div class="overlay-content"><i class="fa fa-search-plus fa-5x" aria-hidden="true"></i></div>
      </div>
      <!-- <div id="BadGallery" class="img-container">
        <div class="section-img" style="background-image: url({{ site.baseurl }}/assets/img/home/home_bad2.jpg);"></div>
      </div> -->
    </div>
  </div>
</section>

<section class="sponsoring">
  <p>diese Organisationen und Vereine bieten Kurse und Veranstaltungen für das Aqua Everfit an:</p>
  <div class="spon-container">
    <div class="spon-item"><a href="https://www.vhs-hoexter.de">VHS Höxter</a></div>
    <div class="spon-item"><a href="http://www.kneippverein-holzminden.de">Kneippverein Holzminden e.V.</a></div>
    <div class="spon-item"><a href="https://www.rheuma-liga.de/startseite">Rheuma-Liga</a></div>
    <div class="spon-item"><a href="#">Adipositas</a></div>
  </div>
</section>

<section class="sauna section" id="sauna-anchor">
  <div class="section-header">
    <div class="header-dash"></div>
    <h1>Infrarot-Textilsauna</h1>
  </div>
  <div class="section-content">
    <div class="half overlay-container" id="SaunaGallery" >
      <div class="section-img" style="background-image: url({{ site.baseurl }}/assets/img/home/home_sauna.jpg);"></div>
      <div class="overlay">
        <div class="overlay-content"><i class="fa fa-search-plus fa-5x" aria-hidden="true"></i></div>
      </div>
    </div>
    <div class="half">
      <div class="section-text fade-right">
          <h2>Anwendungsgebiete</h2>
          <div class="half-text">
            <div class="flex-item">
              <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Arthritis</p>
              <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Arthrose</p>
              <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Bluthochdruck</p>
              <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Niedrigblutdruck</p>
              <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Durchblutungsstörungen</p>
              <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Asthma</p>
              <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Bronchitis</p>
              <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Erkältungen</p>
              <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Gelenkentzündungen</p>
            </div>
            <div class="flex-item">
              <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Rückemschmerzen</p>
              <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Bandscheibenschmerzen</p>
              <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Rheuma</p>
              <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Fibromyalgie</p>
              <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Sportverletzungen</p>
              <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Venenprobleme</p>
              <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Cellulite</p>
              <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Hautkrankheiten</p>
              <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Hexenschuss</p>
            </div>
          </div>
    </div>
  </div>
</section>

<section class="sessel section" id="massage-anchor">
  <div class="section-header">
    <!-- <div class="header-dash-sessel"></div> -->
  </div>
  <div class="section-content">
    <div class="half">
      <div class="sessel-left">
        <img src="{{ site.baseurl }}/assets/img/logo/brainlight.jpg" alt="">
        <!-- <h1>Hier können  <br> Sie entspannen</h1> -->
        <div class="section-text">
          <h2>Entspannung in einer neuen Dimension mit der Shiatsu Massage</h2>
        </div>
      </div>
    </div>
    <div class="half">
       <div class="section-img" style="background-image: url({{ site.baseurl }}/assets/img/home/home_sessel.jpg);"></div>
    </div>
  </div>
</section>

<section class="zeiten section" id="zeiten-anchor">
    <div class="section-header">
      <div class="header-dash"></div>
      <h1>Kontakt</h1>
    </div>
    <div class="zeiten-container">
      <div class="zeit-table fade-left">
        <h2>Sprechen Sie uns auf den Anrufbeantworter und wir rufen Sie schnellstmöglich zurück!</h2>
        <p><span><i class="fa fa-phone" aria-hidden="true"></i><a class="phone-number" href="tel:052714979370">05271 / 49 79 370</a></span></p>
        <h2>Oder schreiben Sie uns eine E-Mail:</h2>
        <p><span><i class="fa fa-envelope-o" aria-hidden="true"></i> info@aqua-everfit.de</span></p>
        
          <div class="kontakt-container">
            <div class="form-content">
              <form action="https://formspree.io/f/xayarlzw" method="post" id="supportFormNew" >
                  <div>
                      <input type="text" id="name" name="user_name" placeholder="Name">
                  </div>
                  <div>
                      <input type="email" id="mail" name="user_mail" placeholder="Email">
                  </div>
                  <div>
                      <textarea id="msg" name="user_message" placeholder="Text hier..."></textarea>
                  </div>
                  <!--<div class="g-recaptcha" data-sitekey="6Lf6QB4UAAAAAIXoCCRF2_msi2f-OWVRsU1u_R9c"></div> -->
                  <div class="button">
                    <button type="submit" id="sendMessage">Senden</button>
                  </div>
                  <p style="font-size: 10px; line-height:12px;">Die abgesendeten Daten werden nur zum Zweck der Bearbeitung Ihres Anliegens verarbeitet. <br> Weitere Informationen finden Sie in unserer <a style="color:white; text-decoration:underline" data-fancybox data-src="#impressum" href="javascript:;">Datenschutzerklärung</a></p>
                  <p id="my-form-status"></p>
              </form>
            </div>
        </div>
      </div>
      
      <div class="section-img fade-right"">
        <!-- <div id="map"><a href='contact.html'>Hier finden Sie uns!</a></div> -->
      </div>
    </div>
</section>

<section class="kontakt" id="kontakt-anchor">
  <!-- <div class="section-header">
    <div class="header-dash"></div>
    <h1>Kontakt</h1>
  </div> -->
  <div class="section-img" style="background-size: cover;background-position: center ;height: 600px;background-image: url({{ site.baseurl }}/assets/img/home/home_zeiten.jpg);"></div>
  
  <div class="kontakt-container">
    <div class="address">
      <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> <br>
        <span>aqua-everfit GmbH & Co. KG</span> <br>
        Lütmarserstr. 60 <br>
        37671 Höxter <br> <br>
    </div>
    <div class="address">
        <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i> <br>
        info@aqua-everfit.de <br><br>
    </div>
    <div class="address">
          <i class="fa fa-phone fa-2x" aria-hidden="true"></i> <br>
          <a class="phone-number" href="tel:052714979370">05271 / 49 79 370</a>
    </div>
  </div>
</section>

<footer>
  <p>© aqua-everfit GmbH & Co. KG | <a data-fancybox data-src="#impressum" href="javascript:;">Impressum</a></p>
</footer>

<div class="backTop">
  <i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i>
</div>

<div style="display: none;" id="impressum">
  {% include impressum.html %}
</div>

<!-- <script>
  /* GOOGLE MAPS */
  function initMap() {

    var myLatLng = {lat: 51.773810, lng: 9.363820};

    var map = new google.maps.Map(document.getElementById('map'), {
      center: myLatLng,
      scrollwheel: false,
      zoom: 15
    });

    var marker = new google.maps.Marker({
      map: map,
      position: myLatLng,
    });
  }
</script> -->
<script>
    var form = document.getElementById("supportFormNew");
    
    async function handleSubmit(event) {
      event.preventDefault();
      var status = document.getElementById("my-form-status");
      var data = new FormData(event.target);
      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
            'Accept': 'application/json'
        }
      }).then(response => {
        status.innerHTML = "Nachricht gesendet!";
        form.reset()
      }).catch(error => {
        status.innerHTML = "Ein Fehler ist aufgetreten. Bitte versuchen Sie es noch einmal!"
      });
    }
    form.addEventListener("submit", handleSubmit)
</script>
                                  
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKraqT2tMEgmBEa4OTzi_99liGQdjDrX8&callback=initMap" async defer></script> -->
