<header>
  <nav>
    <ul>
      <li><a href="#schwimmbad-anchor">Schwimmbad</a></li>
      <li><a href="#sauna-anchor">Sauna</a></li>
      <li><a href="#zeiten-anchor">Öffnungszeiten</a></li>
      <li><a href="#kontakt-anchor">Kontakt</a></li>
    </ul>
  </nav>
  <div class="slider-container">
    <div class="logo">
      <img src="{{ site.baseurl }}/assets/img/logo/logo.png" alt="aqua-everfit logo">
    </div>
    <div class="slider-header">
      <div>
        <div class="img--holder" style="background-image: url({{ site.baseurl }}/assets/img/header/slider/slider3.jpg);">
          <div class="slide-content">
            <a href="#">Willkommen im <br>
            Boddenhaus</a>
          </div>
        </div>
      </div>
      <div>
        <div class="img--holder" style="background-image: url({{ site.baseurl }}/assets/img/header/slider/slider2.jpg);">
          <div class="slide-content">
            <a href="#">Entpannen & <br>
            Wohlfühlen</a>
          </div>
        </div>
      </div>
      <div>
        <div class="img--holder" style="background-image: url({{ site.baseurl }}/assets/img/header/slider/slider4.jpg);">
          <div class="slide-content">
            <a href="#">Aktiv dabei</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
