<h2>Impressum</h2>
<div class="imp-block">
  <h3>Geschäftssitz:</h3>
  <p>
  Stummrigestraße 5 <br>
  37671 Höxter <br>
  Tel.: 05271 / 6807 71
  </p>
</div>
<div class="imp-block">
  <h3>Betriebsstätte:</h3>
  <p>
  Lütmarserstraße 60 <br>
  37671 Höxter <br>
  Telefon: 05271 / 4979370
  </p>
</div>
<div class="imp-block">
  <h3>Bankverbindung:</h3>
  <p>
  IBAN: DE03472601212057087900 · BIC: DGPBDE3MXXX <br>
  Volksbank Paderborn-Höxter-Detmold eG
  </p>
</div>
<div class="imp-block">
  <h3>Geschäftsführer:</h3>
  <p>
  Marie-Luise Sommer <br>
  Amtsgericht Paderborn · HRB 12344 <br>
  USt.-ID: DE305323983
  </p>
</div>
<br><br>
<h2>Datenschutzerklärung</h2>
<div class="imp-block">
  <p>
  <h3>Geltungsbereich</h3>
  Diese Datenschutzerklärung soll die Nutzer dieser Website gemäß europäschischer Datenschutzgrundverordnung (DSGVO) über die Art, den Umfang und den Zweck der Erhebung und Verwendung personenbezogener Daten durch den Websitebetreiber [Ihre Kontaktdaten einfügen] informieren.
  Der Websitebetreiber nimmt Ihren Datenschutz sehr ernst und behandelt Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Vorschriften.
  Bedenken Sie, dass die Datenübertragung im Internet grundsätzlich mit Sicherheitslücken bedacht sein kann. Ein vollumfänglicher Schutz vor dem Zugriff durch Fremde ist nicht realisierbar.
  <br><br>

  <h3>Zugriffsdaten</h3>
  Der Websitebetreiber bzw. Seitenprovider erhebt Daten über Zugriffe auf die Seite und speichert diese als „Server-Logfiles“ ab. Folgende Daten werden so protokolliert: <br>
  • Besuchte Website <br>
  • Uhrzeit zum Zeitpunkt des Zugriffes <br>
  • Menge der gesendeten Daten in Byte <br>
  • Quelle/Verweis, von welchem Sie auf die Seite gelangten <br>
  • Verwendeter Browser <br>
  • Verwendetes Betriebssystem <br>
  • Verwendete IP-Adresse <br>
  Die erhobenen Daten dienen lediglich statistischen Auswertungen und zur Verbesserung der Website. Der Websitebetreiber behält sich allerdings vor, die Server-Logfiles nachträglich zu überprüfen, sollten konkrete Anhaltspunkte auf eine rechtswidrige Nutzung hinweisen. <br> <br>


  <h3>Cookies</h3>
  Diese Website verwendet Cookies. Dabei handelt es sich um kleine Textdateien, welche auf Ihrem Endgerät gespeichert werden. Diese richten keinerlei Schaden an. Ihr Browser greift auf diese Dateien zu. Durch den Einsatz von Cookies erhöht sich die Benutzerfreundlichkeit und Sicherheit dieser Website.
  Gängige Browser bieten die Einstellungsoption, Cookies nicht zuzulassen. Hinweis: Es ist nicht gewährleistet, dass Sie auf alle Funktionen dieser Website ohne Einschränkungen zugreifen können, wenn Sie entsprechende Einstellungen vornehmen.
  <br><br>

  <h3>Umgang mit personenbezogenen Daten</h3>
  Der Websitebetreiber erhebt, nutzt und gibt Ihre personenbezogenen Daten nur dann weiter, wenn dies im gesetzlichen Rahmen erlaubt ist oder Sie in die Datenerhebung einwilligen.
  Als personenbezogene Daten gelten sämtliche Informationen, welche dazu dienen, Ihre Person zu bestimmen und welche zu Ihnen zurückverfolgt werden können – also beispielsweise Ihr Name, Ihre E-Mail-Adresse und Telefonnummer.
  <br><br>

  <h3>Umgang mit Kontaktdaten</h3>
  Nehmen Sie mit dem Websitebetreiber durch die angebotenen Kontaktmöglichkeiten Verbindung auf, werden Ihre Angaben für einen Zeitraum von sechs Monaten gespeichert, damit auf diese zur Bearbeitung und Beantwortung Ihrer Anfrage und für den Fall von Anschlussfragen zurückgegriffen werden kann. Ohne Ihre Einwilligung werden diese Daten nicht an Dritte weitergegeben.
  <br><br>

  </p>
</div>
