<h2>Impressum</h2>
<div class="imp-block">
  <h3>Geschäftssitz:</h3>
  <p>
  Stummrigestraße 5 <br>
  37671 Höxter <br>
  Tel.: 05271 / 6807 71
  </p>
</div>
<div class="imp-block">
  <h3>Betriebsstätte:</h3>
  <p>
  Lütmarserstraße 60 <br>
  37671 Höxter <br>
  Telefon: 05271 / 4979370
  </p>
</div>
<div class="imp-block">
  <h3>Bankverbindung:</h3>
  <p>
  IBAN: DE03472601212057087900 · BIC: DGPBDE3MXXX <br>
  Volksbank Paderborn-Höxter-Detmold eG
  </p>
</div>
<div class="imp-block">
  <h3>Geschäftsführer:</h3>
  <p>
  Marie-Luise Sommer <br>
  Amtsgericht Paderborn · HRB 12344 <br>
  USt.-ID: DE305323983
  </p>
</div>
