<div class="nav-container">
  <p class="menu-trigger">
    <span class="nav__icon"></span>
  </p>
  <nav class="nav">
    <ul>
      <li><a href="#schwimmbad-anchor">Schwimmbad</a></li>
      <li><a href="#sauna-anchor">Sauna</a></li>
      <li><a href="#massage-anchor">Massage-Sessel</a></li>
      <!-- <li><a data-fancybox='rundgang' data-src="https://www.knokenetz.de/everfit/Himmel 2.html" href="javascript:;">Rundgang</a></li> -->
      <li><a href="#zeiten-anchor">Kontakt</a></li>
      <li class="lange-logo">
        <a href="http://lange.fit/">
            <img src="{{ site.baseurl }}/assets/img/header/lange_logo.png" alt="Lange Logo">
            <span>Partner | Lange Fit</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
