<header>
  <div class="slider-container">
    <div class="logo">
      <img src="{{ site.baseurl }}/assets/img/logo/logo.png" alt="aqua-everfit logo">
    </div>
    <div class="slider-header">
      <div>
        <div class="img--holder" style="background-image: url({{ site.baseurl }}/assets/img/header/slider/slider_bad4.jpg);">
          <div class="slide-content">
            <a href="#schwimmbad-anchor">Willkommen im <br>
            Boddenhaus</a>
          </div>
        </div>
      </div>
      <div>
        <div class="img--holder" style="background-image: url({{ site.baseurl }}/assets/img/header/slider/slider_sauna.jpg);">
          <div class="slide-content">
            <a href="#sauna-anchor">Entpannen & <br>
            Wohlfühlen</a>
          </div>
        </div>
      </div>
      <div>
        <div class="img--holder" style="background-image: url({{ site.baseurl }}/assets/img/header/slider/slider_bad.jpg);">
          <div class="slide-content">
            <a href="#">Aktiv dabei</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
