---
---

@import 'loader';
@import 'reset';
@import 'colors';
@import 'header';
@import 'nav';
@import 'overlay';
@import 'animation';
@import 'responsive';

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: $color_grey;
}

.loader {display: none;}

.loading .loader{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


a {
  text-decoration: none;
}

nav a:focus {outline:none}


/* ########## BACK TO TOP ############ */

.backTop {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  background-color: rgba($color_blue, .8);
  color:white;
  padding: 1rem;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 0px 10px rgba(102,102,102,.3);
  display: none;


  &:hover {
    cursor: pointer;
    color: rgba($color_blue, .8);
    background-color: white;
  }
}




/* ########## SECTION GLOBAL ############ */

.section {
  margin: 10rem 0 3rem 0 ;

  .section-header {

    .header-dash {
      width: 20%;
      height: 4rem;
      background-color: $color_blue;
      display: inline-block;
      margin-right: 1rem;
      position: relative;


      &:after {
          content: '';
          width: 0;height: 0;line-height: 0;
          border-right: 3rem solid white;
          border-top: 4rem solid $color_blue;
          top: 0;right: 0;
          position: absolute;
        }
    }

    h1 {
      font-family: 'Roboto Slab', serif;
      text-align: left;
      font-size: 3rem;
      font-weight: 500;
      margin-bottom: 5rem;
      position: relative;
      display: inline-block;
      vertical-align: super;
    }

  }

  .section-content {
    display: flex;
    justify-content: center;

    .half {
      width: 45%;
      min-height: 500px;
      align-self: stretch;
      display: flex;
    }


    .section-img {
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 10px rgba(102,102,102,.3);
        width: 100%;
        transition: .5s ease;
        backface-visibility: hidden;
      }

      .section-text {
        padding: 8% 5%;
        line-height: 2rem;
        position: relative;

        h2 {
          font-size: 2rem;
          font-family: 'Roboto Slab', serif;
          font-weight: 700;
          margin: 1rem 0;
          font-style: italic;
        }

        p {
          padding: 3%;
        }

      }
  }
}


/* ########## SPONSORING############ */

.sponsoring {

  margin-top: 15rem;
  padding: 0 3rem;

  p {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .spon-container {
    margin: 2rem 0 4rem 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


    .spon-item {
      margin: 2rem;
      font-size: 2.2rem;
      font-family: 'Roboto Slab', serif;
      font-weight: 600;
      color: lighten($color_grey,35%);

      &:hover {
        color: $color_grey;
        cursor: pointer;
      }
    }

  }

}





/* ########## SAUNA ############ */


.sauna {
  background-color: $color_blue;
  color: white;

  .section-header {
    // margin-left: -50%;
    // opacity: 0;

      .header-dash {
        width: 60%;
        height: 4rem;
        background-color: white;
        display: inline-block;
        margin-right: 3rem;
        position: relative;

        &:after {
            content: '';
            width: 0;height: 0;line-height: 0;
            border-right: 3rem solid $color_blue;
            border-top: 4rem solid white;
            top: 0;right: 0;
            position: absolute;
          }
      }

  }


  .section-content {

    display: flex;
    // justify-content: center;

    .section-text {
      width: 100%;
      padding: 5% 8%;
    }

  }
}





/* ########## ZEITEN ############ */

.zeiten {

  .zeiten-container {
    min-height: 400px;
    width: 100%;
    padding: 0 3rem ;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAN0lEQVQoU2NkIAwkGQmokWRgYHiOTxFYAcgQXIrgCnApQlGATRGGAnRFWBUgK8KpAKYIrwKQIgCsKwgjjNfCdQAAAABJRU5ErkJggg==) repeat;

    .section-img {
      box-shadow: 0px 0px 10px rgba(102,102,102,.3);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      width: 45%;
    }
  }

  h1 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 5rem;
  }

  .zeit-table {
    background-color: $color_blue;
    color: white;
    font-family: 'Roboto Slab', serif;
    width: 45%;
    display: inline-block;
    padding: 3rem;
    box-shadow: 0px 0px 10px rgba(102,102,102,.3);


      table td {
        padding: 1rem 2rem;
      }
  }

}




/* ########## KONTAKT############ */

.kontakt {

      h1 {
        font-family: 'Roboto Slab', serif;
        text-align: left;
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: 5rem;
        position: relative;
        display: inline-block;
        vertical-align: super;
      }



        .section-header {

          margin-top: 13rem;
          height: 6rem;



          .header-dash {
            width: 30%;
            height: 4rem;
            background-color: $color_blue;
            display: inline-block;
            margin-right: 1rem;
            position: relative;

            &:after {
                content: '';
                width: 0;height: 0;line-height: 0;
                border-right: 3rem solid white;
                border-top: 4rem solid $color_blue;
                top: 0;right: 0;
                position: absolute;
              }
          }


        }

        .kontakt-container {

           display: flex;
           justify-content: space-between;
           width: 100%;
           background-color: $color_blue;
           color: white;

          .form-content {
            width: 49%;
            padding: 4rem;


                form {

                  width: 100%;

                  input, textarea, button[type=submit] {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1rem;
                    border: 0;
                    height: 50px;
                    color: $color_blue;
                    padding: 15px;
                    margin: 1rem 0;
                    background-color: white;
                    width: 100%;
                  }

                  textarea {
                    height: 150px;
                  }

                  button[type=submit]:hover {
                    background-color: lighten( $color_blue, 5% );
                    color: white;
                    cursor: pointer;
                  }

                }



        }

        .address {
          width: 49%;
          line-height: 2rem;
          font-size: 1.2rem;
          text-align: center;
          padding: 5rem 4rem 0;

          p span {
            font-weight: 400;
          }

        }


    }

}



/* ########## MAPS ############ */
#map {
  height: 70vh
}



/* ########## FOOTER############ */
footer {
  padding: 2rem 4rem;
}



/* ########## RESONSIVE STYLES ############ */

@media (max-width:  667px) {


  .section {

      margin: 4rem 0 1.5rem 0;

      .section-header h1 {
        margin-bottom: 0rem;
      }

      .section-content {
        flex-direction: column;
        width: inherit;

        .half {
          width: inherit;
        }
      }
  }


  // SPONSORING
  .sponsoring {
    margin-top: 5rem;
  }

  .sponsoring .spon-container .spon-item {
    font-size: 1.8rem;
    text-align: center;
  }


  // SAUNA
  .sauna .section-header .header-dash {
    display: none;
  }
  .sauna .section-header h1 {
    padding: 1rem;
  }


  // ZEITEN
  .zeiten h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .zeiten .zeiten-container {
    flex-direction: column;
    padding: 0 1.5rem;

    .section-img {
      min-height: 500px;
      width: 100%;
    }
  }

  .zeiten .zeit-table {
    width: inherit;
    padding: 1.5rem;
  }

}




@media (max-width: 375px) {

  .section .section-header h1 {
    font-size: 1.8rem;
  }

  .section .section-header .header-dash {
    height: 2.5rem;

    &:after {
        border-right: 2rem solid white;
        border-top: 2.5rem solid $color_blue;
      }
  }

  .zeiten .zeit-table table td {
    padding: 1rem 0.25rem;
  }

  .kontakt .kontakt-container {
    flex-direction: column;

    .form-content, .address {
      width: 100%;
      padding: 2rem;
    }
  }




}
