---
---

@import 'loader';
@import 'reset';
@import 'colors';
@import 'header';
@import 'nav';
@import 'overlay';
@import 'animation';
@import 'responsive';

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: $color_grey;
}

.loader {display: none;}

.loading .loader{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 99999;
  transition: all 2000 ease;
}


a {
  text-decoration: none;
  color: $color_grey;

  &:hover {
    text-decoration: underline;
  }
}

a.phone-number {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

nav a:focus {outline:none}


/* ########## BACK TO TOP ############ */

.backTop {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  background-color: rgba($color_blue, .8);
  color:white;
  padding: 1rem;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 0px 10px rgba(102,102,102,.3);
  display: none;


  &:hover {
    cursor: pointer;
    color: rgba($color_blue, .8);
    background-color: white;
  }
}




/* ########## SECTION GLOBAL ############ */

.section {
  margin: 10rem 0 3rem 0 ;

  .section-header {

    .header-dash {
      width: 20%;
      height: 4rem;
      background-color: $color_blue;
      display: inline-block;
      margin-right: 1rem;
      position: relative;


      &:after {
          content: '';
          width: 0;height: 0;line-height: 0;
          border-right: 3rem solid white;
          border-top: 4rem solid $color_blue;
          top: 0;right: 0;
          position: absolute;
        }
    }

    h1 {
      font-family: 'Roboto Slab', serif;
      text-align: left;
      font-size: 3rem;
      font-weight: 500;
      margin-bottom: 5rem;
      position: relative;
      display: inline-block;
      vertical-align: super;
    }

  }

  .section-content {
    display: flex;
    justify-content: center;

    .half {
      width: 47%;
      min-height: 500px;
      align-self: stretch;
      display: flex;
    }


    .section-img {
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 10px rgba(102,102,102,.3);
        width: 100%;
        transition: .5s ease;
        backface-visibility: hidden;
      }

      .section-text {
        padding: 8% 5%;
        line-height: 2rem;
        position: relative;

        h2 {
          font-size: 1.8rem;
          font-family: 'Roboto Slab', serif;
          font-weight: 400;
          margin-bottom: 2.5rem;
          letter-spacing: 0.1rem;
          color: darken($color_blue, 10%);
        }

      }
  }
}


/* ########## SPONSORING############ */

.sponsoring {

  margin-top: 15rem;
  padding: 0 3rem;

  p {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .spon-container {
    margin: 2rem 0 4rem 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


    .spon-item a {
      margin: 2rem;
      font-size: 2.2rem;
      font-family: 'Roboto Slab', serif;
      font-weight: 600;
      color: lighten($color_grey,35%);
      display: inline-block;

      &:hover {
        color: $color_grey;
        cursor: pointer;
        text-decoration: none;
      }
    }

  }

}





/* ########## SAUNA ############ */


.sauna {
  background-color: $color_blue;
  color: white;
  background: $color_blue;  /* fallback for old browsers */
  background: -webkit-linear-gradient(left, $color_blue_dark, $color_blue);
  background: -o-linear-gradient(left, $color_blue_dark, $color_blue);
  background: linear-gradient(to right, $color_blue_dark, $color_blue);


  .section-header {
    // margin-left: -50%;
    // opacity: 0;

      .header-dash {
        width: 15%;
        height: 4rem;
        background-color: white;
        display: inline-block;
        margin-right: 3rem;
        position: relative;

        &:after {
            content: '';
            width: 0;height: 0;line-height: 0;
            border-right: 3rem solid #1d5d7f;
            border-top: 4rem solid white;
            top: 0;right: 0;
            position: absolute;
          }
      }

  }


  .section-content {

    display: flex;
    // justify-content: center;

    .section-text {
      width: 100%;
      padding: 4% 10% 7%;

      h2 {
        color: $color_blue_dark
      }
      .half-text {
        display: flex;

        .flex-item {
          flex: 1 1 auto;

          p {
            margin-bottom: .85rem;
            font-size: 1.1rem;

            i {
              // color: darken($color_blue, 5%)
            }
          }
        }
      }
    }

  }
}


/* ########## SESSEL ############ */

.sessel.section .section-content .half {
  width: 50%;
}
.sessel {

  margin: 16rem 0;
  background-color: white;

  .header-dash-sessel {
    width: 25%;
    height: 4rem;
    background-color: $color_blue;
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 4rem;
    position: relative;


    &:after {
        content: '';
        width: 0;height: 0;line-height: 0;
        border-right: 3rem solid white;
        border-top: 4rem solid $color_blue;
        top: 0;right: 0;
        position: absolute;
      }
  }


  .sessel-left {

    background-color: white;
    padding: 7rem ;

    img {
      width: 100%;
    }

    .section-text {
      padding: 0;


        p {
          padding: 0;
        }
    }

    h1 {
      font-family: 'Roboto Slab', serif;
      text-align: left;
      font-size: 3rem;
      font-weight: 500;
      margin-bottom: 2rem;
      position: relative;
      display: inline-block;
      vertical-align: super;
      color: $color_grey;
    }

    h2 {
      line-height: 3rem;
      margin-top: 5rem;
      font-size: 2.2rem !important;
      color: $color_grey !important;
      text-align: center;
    }
  }
}


/* ########## ZEITEN ############ */

.zeiten {

  .zeiten-container {
    min-height: 400px;
    width: 100%;
    padding: 0 3rem ;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAN0lEQVQoU2NkIAwkGQmokWRgYHiOTxFYAcgQXIrgCnApQlGATRGGAnRFWBUgK8KpAKYIrwKQIgCsKwgjjNfCdQAAAABJRU5ErkJggg==) repeat;

    .section-img {
      box-shadow: 0px 0px 10px rgba(102,102,102,.3);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      width: 45%;
    }
  }

  h1 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 5rem;
  }

  h2 {
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
  }

  .zeit-table {
    background-color: $color_blue;
    color: white;
    // font-family: 'Roboto Slab', serif;
    width: 45%;
    display: inline-block;
    padding: 3rem;
    box-shadow: 0px 0px 10px rgba(102,102,102,.3);
    background: $color_blue;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, $color_blue_dark, $color_blue);
    background: -o-linear-gradient(left, $color_blue_dark, $color_blue);
    background: linear-gradient(to right, $color_blue_dark, $color_blue);

      p {
        font-family: 'Open Sans', sans-serif;
        line-height: 2rem;
        margin: 1rem 0;

        span {
          display: inline-block;
          padding-left: 1rem;
          text-align: center;
          font-size: 1.3rem;
          font-family: 'Roboto Slab', serif;

          i {
            margin-right: 1rem;
          }
        }
      }

      table {
        margin-bottom: 2rem;
      }
      table td {
        padding: 1rem 2rem 0rem 0rem;
        font-size: 1.3rem;
        font-family: 'Roboto Slab', serif;
      }
  }

}




/* ########## KONTAKT############ */

.kontakt {

      h1 {
        font-family: 'Roboto Slab', serif;
        text-align: left;
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: 5rem;
        position: relative;
        display: inline-block;
        vertical-align: super;
      }



        .section-header {

          margin-top: 13rem;
          height: 6rem;



          .header-dash {
            width: 30%;
            height: 4rem;
            background-color: $color_blue;
            display: inline-block;
            margin-right: 1rem;
            position: relative;

            &:after {
                content: '';
                width: 0;height: 0;line-height: 0;
                border-right: 3rem solid white;
                border-top: 4rem solid $color_blue;
                top: 0;right: 0;
                position: absolute;
              }
          }


        }

        .kontakt-container {

           display: flex;
           justify-content: space-between;
           width: 100%;
           background-color: $color_blue;
           color: white;
           background: $color_blue;  /* fallback for old browsers */
           background: -webkit-linear-gradient(right, $color_blue_dark, $color_blue);
           background: -o-linear-gradient(right, $color_blue_dark, $color_blue);
           background: linear-gradient(to left, $color_blue_dark, $color_blue);

          .form-content {
            width: 49%;
            padding: 4rem;


                form {

                  width: 100%;

                  input, textarea, button[type=submit] {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1rem;
                    border: 0;
                    height: 50px;
                    color: $color_blue;
                    padding: 15px;
                    margin: 1rem 0;
                    background-color: white;
                    width: 100%;
                  }

                  textarea {
                    height: 150px;
                  }

                  button[type=submit]:hover {
                    background-color: $color_blue_dark;
                    color: white;
                    cursor: pointer;
                  }

                }



        }

        .address {
          width: 49%;
          line-height: 2rem;
          font-size: 1.2rem;
          text-align: center;
          padding: 7rem 4rem 0;

          p span {
            font-weight: 400;
          }

        }


    }

}



/* ########## MAPS ############ */
#map {
  height: 70vh
}



/* ########## FOOTER############ */
footer {
  padding: 2rem 4rem;
}



/* ########## IMPRESSUM ############ */
#impressum {
  max-width: 50vw;
  padding: 3rem;
  box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 13px 19px 2px rgba(0,0,0,.14), 0 5px 24px 4px rgba(0,0,0,.12);
  border-radius: 4px;
  opacity: 0;
  transition: all .3s;
  line-height: 1.35rem;
  // transform: translate(30%) translateZ(600px) rotate(10deg);

    h2 {
      font-family: 'Roboto Slab', serif;
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 1.5rem;
    }

    h3 {
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 0rem;
    }


    p {
      margin-bottom: 1.5rem;
    }
}

.fancybox-slide--complete #impressum {
    opacity: 1;
    // transform: translate(0%) translateZ(0) rotate(0deg);
}


/* ########## RESONSIVE STYLES ############ */

@media (max-width:  667px) {


  .section {

      margin: 4rem 0 1.5rem 0;

      .section-header h1 {
        margin-bottom: 0rem;
      }

      .section-content {
        flex-direction: column;
        width: inherit;

        .half {
          width: inherit;
        }
      }
  }


  // SPONSORING
  .sponsoring {
    margin-top: 5rem;
  }

  .sponsoring .spon-container .spon-item {
    font-size: 1.8rem;
    text-align: center;
  }


  // SAUNA
  .sauna .section-header .header-dash {
    display: none;
  }
  .sauna .section-header h1 {
    padding: 1rem;
  }
  .sauna .section-content .section-text .half-text {
    flex-direction: column;
  }
  .sauna .section-content .section-text h2{
    margin: 0.5rem 0 1rem 0;
  }


  // SESSEL
  .sessel.section {
    margin-bottom: 5rem;
  }

  .sessel.section .section-content .half {
    width: inherit;
  }

  .sessel .sessel-left {
    padding: 3rem;
  }

  // ZEITEN
  .zeiten h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .zeiten .zeiten-container {
    flex-direction: column;
    padding: 0 1.5rem;

    .section-img {
      min-height: 500px;
      width: 100%;
    }
  }

  .zeiten .zeit-table {
    width: inherit;
    padding: 1.5rem;
  }

  #impressum {
    max-width: 90vw;
  }
}




@media (max-width: 375px) {

  .section .section-header h1 {
    font-size: 1.8rem;
  }

  .section .section-header .header-dash {
    height: 2.5rem;

    &:after {
        border-right: 2rem solid white;
        border-top: 2.5rem solid $color_blue;
      }
  }

  .zeiten .zeit-table {

    table {
      margin-bottom: 0.7rem;
    }
    h2 {
      font-size: 1.2rem;
    }
  }

  .zeiten .zeit-table table td {
    padding: 0.5rem 0.25rem;
    font-size: 1.1rem
  }

  .kontakt .kontakt-container {
    flex-direction: column;

    .form-content, .address {
      width: 100%;
      padding: 0rem 2rem 3rem;
    }
  }

}
